.anto-bg-gradient {
    background: radial-gradient(circle, #5c0749fd, #42075e, #570645fd);
    background-size: 300% 300%;
    animation: animationbg 20s alternate infinite;
    height: 100vh;
    width: 100vw;
}

#anto-prymarybox {
    background-color: rgb(255, 255, 255, 0.4);
    height: 700px;
    width: 1000px;
    border-radius: 80px;
    padding: 30px;
}

#anto-logo {
    height: 130px;
    width: 130px;
    border-radius: 100px;
    border: white 2px solid;
    margin: 0, 0, 0, 0;
}

#anto-logocontainer {
    height: auto;
    width: auto;
    align-items: center;
    margin: 0, 0, 10px, 0;

}

@keyframes animationbg {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
    
}